.button_admin {
    max-height: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 17px;
    justify-content: center;
    background: linear-gradient(45deg, #00457E, #005b9a);
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    align-items: center;
    gap: 10px;
    transition: background 1s;
    cursor: pointer;
    width: 100%;
}

.button_admin:hover {
    background: rgba(230, 15, 15, 0.3);
}

.icon {
    font-size: 1.2rem;
    color: gray;
    margin-right: 10px;
}

.message {
    transition: width 0.3s ease-in-out;
    -webkit-box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.2);
    color: red;
    display: none;
    bottom: 10%;
    right: 10px;
    padding: 10px;
    min-width: 200px;
    height: 50px;
    z-index: 5;
    border-radius: 0.25rem;
    background-color: white;
    position: absolute;
    opacity: 0;
}
.message_active{
    display: flex;
    opacity: 1;
}